body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-family: sans-seriff;
}
.section-tittle {
  color: black;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}
/* nav related styles */
nav {
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
nav a {
  text-decoration: none;
}
.nav-tittle {
  color: black;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.font-primary {
  color: #ff6347;
}
.btn-primary {
  background-color: #ff6347;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
  margin-bottom: 10px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  color: #474747;
}
/* header releted styles */
.header {
  background-color: rgb(219, 222, 224);
  background-image: url("../images/header_bg.png"),url('../images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right , top left;
  margin-bottom: 0px;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile {
  width: 500px;
}
.banner-greeting {
  font-size: 600;
  size: 45px;
  color: #474747;
  margin-bottom: 0px;
  width: 177px;
}
.banner-tittle {
  font-size: 80px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 498px;
}
.banner-description {
  width: 400px;
  height: 60px;
  background: #c4bebe;
  font-size: 18px;
  margin-bottom: 20px;
}
.banner-content {
  max-width: 50px;
}
/* main section styles */

/* about section styles */
.about {
  padding: 130px;
  background: #fff8f3;
  width: 1140px;
  border-radius: 10;
  margin: 30px 0;
}
main{
  max-width: 1140px;
  margin: 0px auto;
}
main section{
  margin-top: 130px;
}
.about-info-container{
  display: flex;
  justify-content: space-around;
}
.about-info{
  text-align: center;
}
#what-i-do{
  padding: 30px 150px;
}
/* skills related styles */
.skills-container{
  display: flex;
  gap: 24px;
}
.skill{
  padding: 30px;
  box-shadow: 0px 6px 50px 0px #0000000F;
}
.skill-description{
  color: #757575;
}

/* Resume related styles */
.resume-column-tittle{
  color:#474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-container{
  display: flex;
  gap:50px
}
.resume-item-tittle{
  font-size: 25px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 10px;
}
.resume-item-institute{
  margin-bottom: 20px;
  margin-top: ;
}
.resume-item-institute,.resume-item-description{
  color: #757575;
}
.resume-container hr{
  margin:30px;
}
.download-cv{
  text-align: center;
  margin-top:50px;
}

/* footer styles */
footer{
  display: flex;
  background: #FFF8F3;
  padding: 130px 200px;
  margin-top: 100px;
  gap: 100px;
}
.footer-column{
  width: 50%;
}
.social-links a {
  margin-right: 20px;
}
.contact input[type="text"],.contact input[type="email"], textarea{
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color:#757575;
  border-radius: 5px;
  background:#fff;
  border: 0;
  width: 100%;
}

/* media query styles */
 .hide{
  display: none;
 }

 /* mobile device */
 @media screen and (max-width:576px) {
   .skills-container{
    flex-direction: column;
   }
   #what-i-do{
    padding: 20px;
   }
 }